<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RPITST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RPITST.Properties.Settings.rpitstConnectionString" connectionString="Data Source=RPITST;Initial Catalog=rpitst;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="RPITST.Properties.Settings.rpitst_projectConnectionString" connectionString="Data Source=GURUTECH\LOCALHOST;Initial Catalog=rpitst_project;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RPITST.Properties.Settings>
            <setting name="DAYS" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="MONTHS" serializeAs="String">
                <value>January</value>
            </setting>
            <setting name="YEAR" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SOURCES" serializeAs="String">
                <value />
            </setting>
            <setting name="DATABASES" serializeAs="String">
                <value />
            </setting>
            <setting name="USERS" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORDS" serializeAs="String">
                <value />
            </setting>
        </RPITST.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.1.0" newVersion="2.17.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
